
body {
  margin: 0;
}

.main {
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 30px 200px;
}

.nav-bar {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

a:hover{
  text-decoration: underline;
}

.names {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  margin-bottom: 20px;
}

.date {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.image-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 90%;
  width: 90%;
}

.image {
  height: 100%;
  width: 100%;
}
