
body {
  margin: 0;
}

.main {
  background-color: rosybrown;
  font-family: 'Lato', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  height: calc(100vh - 60px);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: none;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{
  text-decoration: underline;
}

.names {
  font-family: 'Parisienne', cursive;
  margin: 20px 0px 15px;
  font-size: 2.5rem;
}

.date {
  margin-bottom: 35px;
  font-size: 1.2rem;
}

.image-wrapper {
  max-width: 900px;
  text-align: center;
}

.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  opacity: 0.7;
}

@media only screen and (min-width: 700px) {
  .main {
    padding: 80px 50px;
    height: 100vh;
  }

  .main-content {
    margin-top: 30px;
  }

  .nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    font-size: 1.2rem;
  }

  .names {
    font-size: 3rem;
  }

  .image-wrapper {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    height: max-content;
  }

  .nav-bar {
    width: 80%;
  }

  .names {
    margin: 40px 0px 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    padding: 30px 200px;
  }
}
