
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #FAF6F2;
}

.main {
  font-family: 'Lato', sans-serif;
  color: #8d6a01;
}

.main-background {
  background: url('../static/images/left-polka.png') no-repeat;
  left: 0;
  position: absolute;
}

.content ~ .content {
  padding: 0px 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  background-image: url('../static/images/ring.png');
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

.nav-links,
.logo {
  color: #B08401;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bolder;
}

.nav-bar {
  padding-bottom: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.875rem;
}

.active {
  display: contents;
  /* background-image: url('../static/images/left-polka.png') */
}

.names {
  font-family: 'Parisienne', cursive;
  margin: 20px 0px 15px;
  font-size: 2.5rem;
  opacity: .6;
}

.date {
  margin-bottom: 35px;
  font-size: 1.3rem;
  font-weight: bolder;
}

.image-wrapper {
  max-width: 700px;
  text-align: center;
}

.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-opacity {
  opacity: .9;
}

.content.hide {
  display: none;
}

a.item--active {
  text-decoration: underline;
}

.main-content__wedding {
  display: flex;
}

.main-content__part {
  flex: 1;
}

.main-content__paragraph {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}


.content-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Lobster Two', cursive;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content__paragraph-title {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
}

.main-content__paragraph-text {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 800;
  text-align: center;
  background-color: #FAF6F2;
}

.main-content__image {
  height: 200px;
}

.text-toll {
  color: red;
}

.main-content__part:first-child {
  margin-bottom: 30px;
}

.text-space {
  margin-bottom: 15px;
}

.main-content__table {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.main-content__row {
  display: flex;
}

.main-content__row-item {
  flex: 1;
}

.names--small {
  font-size: 2rem;
}

.phrase {
  margin-top: 50px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 0px 10px;
  max-width: 750px;
  margin-bottom: 30px;
}

.timeline {
  display: none;
}

.main-content__paragraph {
  margin-bottom: 40px;
  max-width: 350px;
}

.horizontal-line {
  border-top: 3px solid #8d6a01;
  width: 100%;
  margin-bottom: 50px;
}

.rsvp-link-container {
  margin: 30px 0px 40px;
  border: 5px solid;
}

.gift-page__box-content {
  margin: 10px;
}

.gift-page__box {
  border: 5px solid #8d6a01;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.rsvp-link {
  color: #B08401;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bolder;
  padding: 10px;
}

.main-page__line {
  width: 90%;
}

.main-content__paragraph-title.paragraph-story {
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .main-content__paragraph-title.paragraph-story {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .main-content__our-story {
    align-items: center;
    justify-content: center;
  }

  .main {
    padding: 80px 50px;
  }

  .nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .main-nav li {
    margin: 0;
  }


  .nav-links {
    font-size: 1.3rem;
  }

  .names {
    font-size: 3rem;
  }

  .image-wrapper {
    max-width: 600px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo {
    margin-top: 0;
    margin-left: 0;
    width: 45px;
    height: 40px;
  }

  a:hover {
    text-decoration: underline;
  }

  .content ~ .content {
    margin-top: 30px;
  }

  .main-content {
    margin-bottom: 50px;
  }

  .main-content__wedding {
    flex-direction: row;
  }

  .main-content__part:first-child {
    margin-right: 40px;
    margin-bottom: unset;
  }

  .content-title {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }

  .main-content__image {
    height: 350px;
  }

  .main-content__paragraph-text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: unset;
  }

  .main-content__paragraph-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: unset;
  }

  .main-content__paragraph {
    margin-bottom: 40px;
  }

  .main-content__table {
    text-align: unset;
  }

  .date {
    font-size: 1.6rem;
  }

  .phrase {
    margin-top: 30px;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  .main-page-phrase {
    font-size: 1.6rem;
  }

  .timeline {
    display: block;
    border-left: 6px solid #8d6a01;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 250px
}

.horizontal-line {
  width: 600px;
}

.part-story:first-child {
  margin-right: 50px;
}

.gift-page {
  max-width: 600px;
  text-align: center;
}

.main-content__paragraph {
  max-width: 500px;
}

.image-width {
  height: auto;
  width: 300px;
}
}

@media only screen and (min-width: 1000px) {
  .image-width {
    height: auto;
    width: 400px;
  }

  .main {
    height: max-content;
  }

  .names {
    margin: 40px 0px 15px;
  }

  .main-content__paragraph {
    max-width: 700px;
  }

  .main-content__our-story {
    margin-bottom: 100px;
  }

  .part-story:first-child {
    margin-right: unset;
  }

}
@media only screen and (min-width: 1200px) {
  .main {
    padding: 30px 200px;
  }

  .part-story:first-child {
    margin-right: 50px;
  }
}
